[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = git://github.com/morhetz/gruvbox.git
[submodule "sources_non_forked/vaxe.vim"]
	path = sources_non_forked/vaxe.vim
	url = https://github.com/jdonaldson/vaxe.git
[submodule "sources_non_forked/tcomment.vim"]
	path = sources_non_forked/tcomment.vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "sources_non_forked/youcompleteme"]
	path = sources_non_forked/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/ctrlp_haxelibs"]
	path = sources_non_forked/ctrlp_haxelibs
	url = https://github.com/waneck/ctrlp_haxelibs.git
